<table class="table tab-prices">

    {% for listPrice in listPrices %}

        <tr>
            <td class="tab-prices-left">{{ listPrice.title }} (de {{ listPrice.minage }} à {{ listPrice.maxage }} ans) :</td>
            <td class="tab-prices-right">{{ (listPrice.priceht + (listPrice.priceht * listPrice.tva))|round }} €</td>
        </tr>

    {% endfor %}

</table>
<em class="tab-prices-mention">* Les tarifs réduits sont valable uniquement sous présentation d'un justificatif</em>


