<table class="table tab-order">
    {% for purchase in listPurchase %}
        <tr>
            <td class="tab-order-left">
                {{ purchase.qt }} {{ purchase.title }}
            </td>
            <td class="tab-order-right">
                {{ purchase.price }}
            </td>
        </tr>
    {% endfor %}
</table>




